div {
  font-size:120%; 
  text-align: center
}
p{font-size: 120%}
   a:link {  
   color: #FFBA06;  
   text-decoration: none;
 font-weight:bold  
   }  
   a:visited {  
   text-decoration: none;  
   color: #FFBA06;  
 font-weight:bold
   }  
   a:hover {  
   text-decoration: none;  
   color: #FFBA06; 
	   font-weight:bold
   }  
   a:active {  
   text-decoration: none;  
   color: #FFBA06;  
 font-weight:bold
   }  



div#xiazaibig {
  position: absolute;
  top:0px;
left: 0px;
width: 100%;
height: 100%;
background:#FFFFFF;
}



div#xiazaismall {
  position: absolute;
  top:10vh;
left: 5vw;
width: 90%;
height: 80%;
background:#000000;
color:#FFFFFF;
text-align:left;
overflow:scroll;
}

img#skinimg {
height: 200px;
}
