div {
  font-size:120%; 
  text-align: center
}
p{font-size: 120%}
   a:link {  
   color: #FFBA06;  
   text-decoration: none;  
   }  
   a:visited {  
   text-decoration: none;  
   color: #FFBA06;  
   }  
   a:hover {  
   text-decoration: none;  
   color: #FFBA06; 
	   font-weight:bold
   }  
   a:active {  
   text-decoration: none;  
   color: #FFBA06;  
   }  

div#login {
  position: absolute;
  top: calc(765 / 1920 * 100vw);
left: calc(710 / 1920 * 100vw);
}

div#xzfwq {
  position: absolute;
  top: calc(588 / 1920 * 100vw);
left: calc(550 / 1920 * 100vw);
}

img#odpg {
position: absolute;
top: calc(200 / 1920 * 100vw);
left: calc(380 / 1920 * 100vw);
width: calc(900 / 1920 * 100vw);
}
img#btn1 {
position: absolute;
 top: calc(580 / 1920 * 100vw);
left: calc(530 / 1920 * 100vw);
width: 360px;
height: 40px;
}
img#btn2 {
position: absolute;
  top: calc(768 / 1920 * 100vw);
left: calc(700 / 1920 * 100vw);
width: 160px;
height: 30px;
}


div#tz {
  position: absolute;
  top: calc(100 / 1920 * 100vw);
left: calc(100 / 1920 * 100vw);
}

div#exit {
position:absolute;
left:238px;
bottom:0;
}

img#btn3 {
position: absolute;
  top: calc(103 / 1920 * 100vw);
left: calc(70 / 1920 * 100vw);
width: 110px;
height: 25px;
}


div#stz1,div#stz2,div#stz3,div#stz4,div#stz5,div#stz6,div#stz7,div#stz8 {
  position: absolute;
background:white;
  top: calc(500 / 1920 * 100vw);
left: calc(600 / 1920 * 100vw);
}


div#stz000 {
  position: absolute;
background:white;
  top: calc(700 / 1920 * 100vw);
left: calc(678 / 1920 * 100vw);
}

