
.content {
  max-width: 600px;
  margin: auto;
}
.content h1 {
  text-align: center;
  font-size: 72px;
  font-family: 'Satisfy', cursive;
}
.content p {
  font-size: 18px;
  font-family: 'Marcellus', serif;
  color: #666;
  text-align: center;
}

.scroll-to-top {
  width: 50px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  position: fixed;
  bottom: 150px;
  right: 20px;
  display: none;
  z-index: 2000;
  background-color: #44b2fe;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  overflow: hidden;
}
.scroll-to-top:before, .scroll-to-top:after {
  content: '';
  position: absolute;
  display: block;
  top: 15px;
  background-color: #fff;
  height: 20px;
  width: 5px;
}
.scroll-to-top:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 28px;
  box-shadow: -8px 14px 0px 8px #1ba1fe;
}
.scroll-to-top:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 28px;
}
.scroll-to-top:focus {
  outline: none;
}
