body { 
  background-color: #FFFFFF;
  font-size:        small;
  margin:           0px;
}



header.top {
  background-color: #ff9a00;
  margin: 10px 10px 0px 10px;
  height:           108px;
}

header.top img#headerSlogan {
	float: right;
}


div#tableContainer {
	display: table;
	border-spacing: 10px;
}

div#tableRow {
	display: table-row;
}



footer {
  background-color: #ff9a00;
  color:            #FFFFFF;
  text-align:       center;
  padding:          30px;
  margin: 0px 10px 10px 10px;
  font-size:        90%;
}

h1 {
  font-size:        300%;
  color:            #ff9a00;
}

h2 { font-size: 120%; }

.slogan { color: #FFFFFF; }

.beanheading {
  text-align:       center;
  line-height:      1.8em;
}

a:link {
  color:            #000000;
  text-decoration:  none;
  border-bottom:    thin dotted #FFFFFF;
  font-size:        90%;
}
a:visited {
  color:            #000000;
  text-decoration:  none;
  border-bottom:    thin dotted #FFFFFF;
}


nav {
    background-color: #efe5d0;
	margin: 10px 10px 0px 10px;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
	color: #954b4b;
	border-bottom: none;
	font-weight: bold;

/*
	text-shadow: 1px 1px 3px #e2c2c2; 
	text-transform: uppercase;
*/
}
nav ul li.selected {
	background-color: #c8b99c;
}
