body { 
  background-color: #FFFFFF;
  font-size:        small;
  margin:           0px;
}

#menu{
  width:screen.availWidth;
  margin:0px auto;
  position:fixed;/*固定作用*/
  top:0px;
  left:0px;
  /*ie6下样式，加下划线表示只针对ie6 的hack */
  _position:absolute;/* 把导航栏位置定义为绝对位置  关键*/
  _top:expression(documentElement.scrollTop + "px"); /* 把导航栏位置放在浏览器垂直滚动条的顶端  关键 */
  z-index:9999; /* 让导航栏浮在网页的高层位置，遇到flash和图片时候也能始终保持最外层 */
  text-align:left;
}

div#nono{   font-size:300%;}

header.top {
  background-color: #ff9a00;
  margin: 10px 10px 0px 10px;
  height:           108px;
}

header.top img#headerSlogan {
	float: right;
}

nav {
    background-color: #FA7600;
	margin: 10px 10px 0px 10px;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}


div#tableContainer {
	display: table;
	border-spacing: 10px;
}



div#tableRow {
	display: table-row;
}


section#massage {
    display: table-cell;
    background-color: #efe5d0;
    width: 30%;
    padding: 15px;
    vertical-align: top;
}


section#main, section#blog {
  display: table-cell;
  background:       #efe5d0;
  font-size:        105%;
  padding:          15px;
  vertical-align: top;
}

aside {
  display: table-cell;
  background:       #efe5d0;
  font-size:        105%;
  padding:          15px;
  vertical-align: top;
}


footer {
  background-color: #ff9a00;
  color:            #FFFFFF;
  text-align:       center;
  padding:          30px;
  margin: 0px 10px 10px 10px;
  font-size:        120%;
}

h1 {
  font-size:        120%;
  color:            #ff9a00;
}

h2 { font-size: 110%; }

.slogan { color: #FFFFFF; }

.beanheading {
  text-align:       center;
  line-height:      1.8em;
}

a:link {
  color:            #000000;
  text-decoration:  none;
  border-bottom:    thin dotted #FFFFFF;
  font-size:        150%;
}
a:visited {
  color:            #000000;
  text-decoration:  none;
  border-bottom:    thin dotted #FFFFFF;
}


/* ALL BELOW IS NEW FOR BLOG */


/* BELOW a above to override for nav */
nav ul li a:link, nav ul li a:visited {
	color: #00AEFF;
	border-bottom: none;
	font-weight: bold;

	/* optional! very hard to see although does help */
	text-shadow: 1px 1px 3px #e2c2c2; 

	/* try this and see if you like it */
	text-transform: uppercase;
}

li.selected {
	background-color: #c8b99c;
}

article span {
	font-style: italic;
}


nav {
    background-color: #00BCFF;
	margin: 10px 10px 0px 10px;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
	color: #A7FF00;
	border-bottom: none;
	font-weight: bold;

/*
	text-shadow: 1px 1px 3px #e2c2c2; 
	text-transform: uppercase;
*/
}
nav ul li.selected {
	background-color: #FF9400;
}

div#l1,div#l2,div#l3 {
text-align : center;
font-size:250%;
}


